<div class="guide">
    <div class="guide_title">
        <div class="guide_title_text" translate>{{ 'RULES_aboutGameProcess' }}</div>
    </div>
    <div id="jackpot" class="guide_content">
        <div class="guide_content_list">
            <div class="guide_content_list_item">
                <div class="guide_content_list_item_num">1</div>
                <div class="guide_content_list_item_text" translate>{{ 'RULES_bagp1' }}</div>
            </div>
            <div class="guide_content_list_item">
                <div class="guide_content_list_item_num">2</div>
                <div class="guide_content_list_item_text" translate>{{ 'RULES_bagp2' }} </div>
            </div>
            <div class="guide_content_list_item">
                <div class="guide_content_list_item_num">3</div>
                <div class="guide_content_list_item_text" translate>{{ 'RULES_bagp3' }}</div>
            </div>
            <div class="guide_content_list_item">
                <div class="guide_content_list_item_num">4</div>
                <div class="guide_content_list_item_text" translate>{{ 'RULES_bagp4' }}</div>
            </div>
        </div>
    </div>
    <div class="guide_title">
        <div class="guide_title_text" translate>{{ 'RULES_howToParticipate' }}</div>
    </div>
    <div id="jackpot" class="guide_content">
        <div class="guide_content_list">
            <div class="guide_content_list_item">
                <div class="guide_content_list_item_num">1</div>
                <div class="guide_content_list_item_text" translate>{{ 'RULES_htp1' }}</div>
            </div>
            <div class="guide_content_list_item">
                <div class="guide_content_list_item_num">2</div>
                <div class="guide_content_list_item_text" translate>{{ 'RULES_htp2' }} </div>
            </div>
            <div class="guide_content_list_item">
                <div class="guide_content_list_item_num">3</div>
                <div class="guide_content_list_item_text" translate>{{ 'RULES_htp3' }}</div>
            </div>
            <div class="guide_content_list_item">
                <div class="guide_content_list_item_num">4</div>
                <div class="guide_content_list_item_text" translate>{{ 'RULES_htp4' }}</div>
            </div>
        </div>
    </div>
    <div class="guide_title">
        <div class="guide_title_text" translate>{{ 'RULES_details' }}</div>
    </div>
    <div id="jackpot" class="guide_content">
        <div class="guide_content_list">
            <div class="guide_content_list_item">
                <div class="guide_content_list_item_num">1</div>
                <div class="guide_content_list_item_text" translate>{{ 'RULES_d1' }}</div>
            </div>
            <div class="guide_content_list_item">
                <div class="guide_content_list_item_num">2</div>
                <div class="guide_content_list_item_text" translate>{{ 'RULES_d2' }} </div>
            </div>
            <div class="guide_content_list_item">
                <div class="guide_content_list_item_num">3</div>
                <div class="guide_content_list_item_text" translate>{{ 'RULES_d3' }}</div>
            </div>
            <div class="guide_content_list_item">
                <div class="guide_content_list_item_num">4</div>
                <div class="guide_content_list_item_text" translate>{{ 'RULES_d4' }}</div>
            </div>
            <div class="guide_content_list_item">
                <div class="guide_content_list_item_num">5</div>
                <div class="guide_content_list_item_text" translate>{{ 'RULES_d5' }}</div>
            </div>
            <div class="guide_content_list_item">
                <div class="guide_content_list_item_num">6</div>
                <div class="guide_content_list_item_text" translate>{{ 'RULES_d6' }}</div>
            </div>
            <div class="guide_content_list_item">
                <div class="guide_content_list_item_num">7</div>
                <div class="guide_content_list_item_text" translate>{{ 'RULES_d7' }}</div>
            </div>
            <div class="guide_content_list_item">
                <div class="guide_content_list_item_num">8</div>
                <div class="guide_content_list_item_text" translate>{{ 'RULES_d8' }}</div>
            </div>
            <div class="guide_content_list_item">
                <div class="guide_content_list_item_num">9</div>
                <div class="guide_content_list_item_text" translate>{{ 'RULES_d9' }}</div>
            </div>
        </div>
    </div>
</div>
